<% provide(:title, "Home") %>
<div class='homeDiv'>
 <br>
 <p> <h2  style="text-align: center">Here in this Website you can find different Fitness classeses that are offered from Gyms and Personal trainers !! <br>
 You can have a look at below Classes and after decide what would fit for you !!<br>
 And you could book straight away your favourite one!!!</h2> 
 </p>
 
 <p><%= image_tag("yoga.jpg" , style: ' float:left;  height: 75px; width: 150px')%><h1> Yoga </h1>
 <h3>It helps to strength and tone the body, improving the flow of energy, helps to regulate the physical systems of the body and breath, and still the mind for meditation.
A yoga class usually begins with breath awareness, followed by a warm up.
 A series of postures is introduced to develop strength and flexibility, including standing, floor and chair work. 
</p></h3> 


<p> <%= image_tag("fusion.jpg" , style: ' float:left;  height: 75px; width: 150px')%><h1> Full Body Fusion</h1>
 <h3>The fusion fitness workouts  combine at least two different exercises for example:boxing and Pilates; running and strength training, or yoga and cardio
It can help you burn body fat. </p></h3> 
 
<p><%= image_tag("circut_training.jpg" , style: ' float:left;  height: 75px; width: 150px')%><h1> Circut training</h1>
 <h3>Circuit training is a workout where you cycle through different exercises,usually five to 10,targeting different muscle groups with minimal rest in between. 
The result is to improve your muscular strength and endurance and your cardiorespiratory system.Also can help you burn body fat.</p></h3> 

<p><%= image_tag("hit.jpg" , style: ' float:left;  height: 75px; width: 150px')%><h1> HIT</h1>
<h3>HIIT is a workout class that alternate hard-charging intervals, during which a person's heart rate reaches at least 80 percent of its maximum capacity usually for one to five minutes,
 with periods of rest or less intense exercise.
It helps you burn calories, lose weight, build muscule groups, improve blood flow and oxygen in the body, and helps with low presure and blood sugar.</p></h3> 

<p><%= image_tag("spinning.jpg" , style: ' float:left;  height: 75px; width: 150px')%><h1> Spining</h1>
<h3>It is a combination of fast-paced cycling and strategic lighter rest intervals to get you recovered for the next burst.
 Most spinning classes last around 40 minutes and  very effective way to lose weight because you burn a lot of caloriesyou'll  burn about 400-600 calories per class.</p></h3> 

<p><%= image_tag("bootcamp.jpg" , style: ' float:left;  height: 75px; width: 150px')%><h1> Bootcamp </h1>
<h3>Bootcamp workout is an intense mix of aerobic, strength training and speed elements(tools) exercises
It helps to build strengh and fitness.</p></h3> 

<p><%= image_tag("trx.jpg" , style: ' float:left;  height: 75px; width: 150px')%><h1> T-REX </h1>
<h3>T-REX is a workout that uses body weight exercises to develop strength, balance, flexibility and core stability simultaneously.
 It requires the use of the TRX Suspension Trainer, a performance training tool that leverages gravity and the user's body weight to complete the exercises.</p></h3> 

<p><%= image_tag("zumba.jpg" , style: ' float:left;  height: 75px; width: 150px')%><h1> Zumba</h1>
<h3>TZumba is an interval workout. The classes move between high- and low-intensity dance moves designed to get your heart rate up and boost cardio endurance.</p></h3> 

<p><%= image_tag("pilates.jpg" , style: ' float:left;  height: 75px; width: 150px')%><h1> Pilates</h1>
<h3>Pilates is a workout that consists of low-impact flexibility and muscular strength and endurance movements. 
Pilates emphasizes proper postural alignment, core strength and muscle balance.</p></h3> 


</div>

   
