<p id="notice"><%= notice %></p>

<p>

  
  <%= image_tag @fitness_class.image_url, :class => 'welcomIm'  %>
</p>

<p>
  <strong>Name:</strong>
  <%= @fitness_class.name %>
</p>

<p>
  <strong>Offerdby:</strong>
  <%= @fitness_class.offerdBy %>
</p>

<p>
  <strong>Address:</strong>
  <%= @fitness_class.address %>
</p>

<p>
  <strong>Hour And Date Class is Available:</strong>
  <%= @fitness_class.hourAndDateAvailable %>
</p>


<p>
  <strong>Price:</strong>
  <%= @fitness_class.price %>
</p>



<% if session[:login] == 1 %>
<%= link_to 'Edit', edit_fitness_class_path(@fitness_class) %>
<%end %> 

<%= link_to 'Back', fitness_classes_path %>
